<p style="color: green"><%= notice %></p>

<% content_for :title, "Issues" %>

<h1>Issues</h1>

<div id="issues" class="issues-list">
<% @issues.each do |issue| %>
  <%= render issue %>
 <% end %>

</div>


