<% content_for :title, "New issue" %>
<div>
  <%= link_to "Back to issues", project_issues_path(@project), class: "add" %>
</div>

<h1>New issue</h1>

<%= render "form", issue: @issue, project: @project %>

<br>

