<p style="color: green"><%= notice %></p>

<% content_for :title, "Projects" %>
<div class="title">
<h1>Projects</h1>
<%= link_to "Add a new project", new_project_path, class: "add" %>

</div>

<div id="projects" class="projects">
  <% @projects.each do |project| %>
    <%= render project %>
  <% end %>
</div>

