<div class="downloads">
<h1>Export Report</h1>
<p>Export the issue list as:</p>

<ul>
  <li><%= link_to "Download Excel (.xlsx)", exports_path(format: :xlsx) %></li>
  <li><%= link_to "Download PDF", exports_path(format: :pdf) %></li>
</ul>
</div>
